body{
  font-family: 'Montserrat', sans-serif;
  color: white;
}
/*colors*/
.color_primary{
  background-color: rgb(45, 62, 79);
}
.color_primary_400{
  background-color: rgb(26, 37, 47);
}
.color_secondary{
  background-color: rgb(41, 187, 156);
}
/*/colors*/
/*text-center*/
.txt_cnt{
  text-align: center;
}
/*/text-center*/
/*header*/
/*nav*/
/*/nav*/
/*hero*/
.hero_box{
  max-width: 700px;
  margin: auto;
}
.box_image{
  width: 200px;
  height: 200px;
  margin: auto;
}
.box_image>img{
  width: 100%;
  height: 100%;
}
.line{
  width: 50px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  display: inline-block;
}
.vert_align{
  vertical-align: middle;
}
/*/hero*/
/*/header*/
/*main*/
/*section_one*/
/*generals*/
.main_box{
  margin: 10px 0;
}
/*/generals*/
.one{
  background-color: rgb(184, 76, 100);
}
.two{
  background-color: rgb(41, 164, 181);
}
.three{
  background-color: rgb(20, 15, 15);
}
.four{
  background-color: rgb(37, 132, 191);
}
.five{
  background-color: rgb(19, 61, 178);
}
.six{
  background-color: rgb(203, 178, 164);
}
/*/section_one*/
/*section_two_about*/
.my_container{
  max-width: 700px;
  margin: auto;
  background-color: red;
}
.about{
  /* text-align: center; */
}
.cta{
  /* text-align: center; */
}
/*/section_two_about*/
/*section_three_contact_me*/
.contact_box{
  max-width: 700px;
  margin: auto;
  background-color: red;
}
h2{
  /* text-align: center; */
}
/*/section_three_contact_me*/
/*/main*/
/*footer*/
/*upper_footer*/
/*/upper_footer*/
/*/footer*/
/*responsiveness*/
/*xs_devices*/
@media screen and (max-width:767px) {
  /*header*/
  /*nav_bar*/
  /*/nav_bar*/
  /*hero*/
  /*/hero*/
  /*/header*/
  /*main*/
  /*/main*/
}
/*/xs_devices*/
/*sm_devices*/
@media screen and (min-width:768px) and (max-width:991px) {
  /*header*/
  /*nav_bar*/
  /*/nav_bar*/
  /*hero*/
  /*/hero*/
  /*/header*/
  /*main*/
  /*/main*/
}
/*/sm_devices*/
/*md_devices*/
@media screen and (min-width:992px) and (max-width:1199px) {
  /*header*/
  /*nav_bar*/
  /*/nav_bar*/
  /*hero*/
  /*/hero*/
  /*/header*/
  /*main*/
  /*/main*/
}
/*/md_devices*/
/*lg_devices*/
@media screen and (min-width:1200px) {
  /*header*/
  /*nav_bar*/
  /*/nav_bar*/
  /*hero*/
  /*/hero*/
  /*/header*/
  /*main*/
  /*/main*/
}
/*lg_devices*/
/*/responsiveness*/
