/*header*/
/*nav*/
.nav_color{
  background-color: rgb(45, 62, 79);
}
.nav_left,.nav_right{
  color: white;
}
/*/nav*/
/*hero*/
.hero{
  background-color: rgb(41, 187, 156);
}
.hero_box{
  color: white;
}
/*/hero*/
/*/header*/
/*main*/
/*box_one*/
.main_box{
  background-color: rgb(184, 76, 100);
  border-radius: 10px;
  margin: 10px 0;
  width: 300px;
  display: inline-block;
  text-align: center;
}
.image_box{
  height: 150px;
  width: 150px;
  background-color: rgb(75, 178, 156);
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}
/*/box_one*/
/*box_two*/

/*/box_two*/
/*/main*/
/*responsiveness*/
/*xs_devices*/
@media screen and (max-width:767px) {
  /*header*/
  /*nav_bar*/
  .nav_left,.nav_right{
    padding: 10px;
  }
  /*/nav_bar*/
  /*hero*/
  .hero_box{
    padding: 20px;
  }
  /*/hero*/
  /*/header*/
  /*main*/
  /*main_title*/
  .main_title{
    padding: 20px 0 0 0;
  }
  /*/main_title*/
  /*/main*/
}
/*/xs_devices*/
/*sm_devices*/
@media screen and (min-width:768px) and (max-width:991px) {
  /*header*/
  /*nav_bar*/
  .nav_left,.nav_right{
    padding: 15px;
  }
  /*/nav_bar*/
  /*hero*/
  .hero_box{
    padding: 40px;
  }
  /*/hero*/
  /*/header*/
  /*main*/
  /*main_title*/
  .main_title{
    padding: 20px 0 0 0;
  }
  /*/main_title*/
  /*/main*/
}
/*/sm_devices*/
/*md_devices*/
@media screen and (min-width:992px) and (max-width:1199px) {
  /*header*/
  /*nav_bar*/
  .nav_left,.nav_right{
    padding: 20px;
  }
  /*/nav_bar*/
  /*hero*/
  .hero_box{
    padding: 60px;
  }
  /*/hero*/
  /*/header*/
  /*main*/
  /*main_title*/
  .main_title{
    padding: 20px 0 0 0;
  }
  /*/main_title*/
  /*/main*/
}
/*/md_devices*/
/*lg_devices*/
@media screen and (min-width:1200px) {
  /*header*/
  /*nav_bar*/
  .nav_left,.nav_right{
    padding: 25px;
  }
  /*/nav_bar*/
  /*hero*/
  .hero_box{
    padding: 80px;
  }
  /*/hero*/
  /*/header*/
  /*main*/
  /*main_title*/
  .main_title{
    padding: 20px 0 0 0;
  }
  /*/main_title*/
  /*/main*/
}
/*lg_devices*/
/*/responsiveness*/
